[Unit]
Description=Camera Stream Server
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/python3 %h/robot_app/stream.py
WorkingDirectory=%h/robot_app
StandardOutput=journal
StandardError=journal
Restart=always

[Install]
WantedBy=default.target
