[Unit]
Description=Robot Script
After=network-online.target stream.service
Wants=network-online.target

[Service]
ExecStart=/usr/bin/python3 %h/robot_app/app.py
WorkingDirectory=%h/robot_app
StandardOutput=journal
StandardError=journal
Restart=always

[Install]
WantedBy=default.target