<link rel="stylesheet" href="/static/style.css" />
<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<style>
    #video-stream {
        width: 100%;
        height: calc(100% - 25px);
        display: block
    }

    .neon {
        color: #39ff14;
        text-shadow: 0 0 5px #39ff14, 0 0 10px #39ff14
    }

    .red {
        color: #FF0000;
        text-shadow: 0 0 5px #FF0000, 0 0 10px #FF0000
    }

    .yellow {
        color: #ffff00;
        text-shadow: 0 0 5px #ffff00, 0 0 10px #ffff00
    }

    .purple {
        color: #bf00ff;
    }

    .amber {
        color: #ffaa00;
    }
</style>
<script type="text/javascript">
    const socket = io() // Connects to server on same origin (no URL required)
    const ledSocket = io('http://headless4.local:9000')
    // Battery reading from robot Pi
    socket.on('battery_update', (data) => {
        document.getElementById('battery-status').innerHTML = data.battery
    })

    // Battery reading from Mission Control
    socket.on('battery_update_mc', (data) => {
        const mcEl = document.getElementById('battery-status-mc')
        if (mcEl) {
            mcEl.innerHTML = data.battery
        }
    })

    window.addEventListener("keydown", (e) => {
        console.log("Key pressed:", e.key)
        switch (e.key.toLowerCase()) {
            // ---------- Robot Movement Commands ------------
            case 'a': socket.emit('command', 'left'); break
            case 'w': socket.emit('command', 'forward'); break
            case 's': socket.emit('command', 'reverse'); break
            case 'd': socket.emit('command', 'right'); break

            // ---------------- Robot Speed Control ----------------

            case 'f': socket.emit('command', 'motorSpeedDefault'); break
            case 'g': socket.emit('command', 'motorSpeedDecrease'); break
            case 'h': socket.emit('command', 'motorSpeedIncrease'); break

            // ------------------ Camera Control ------------------
            case 'j': socket.emit('command', 'cameraLeft'); break
            case 'i': socket.emit('command', 'cameraUp'); break
            case 'k': socket.emit('command', 'cameraDown'); break
            case 'l': socket.emit('command', 'cameraRight'); break
            case 'n': socket.emit('command', 'cameraCenter'); break

            // ------------------ LED Control ------------------
            case 'z': ledSocket.emit('command', 'led_toggle_on_off'); break
            case 'x': ledSocket.emit('command', 'led_brightness_decrease'); break
            case 'c': ledSocket.emit('command', 'led_brightness_increase'); break
        }
    })

    window.addEventListener("keyup", (e) => {
        const moveKeys = ['a', 'd', 'w', 's']
        if (moveKeys.includes(e.key.toLowerCase())) {
            socket.emit('command', 'stop')
        }
    })

    const checkRobotPageAndReload = async () => {
        const robotUrl = "http://headless4.local:8000"
        try {
            const response = await fetch(robotUrl, { method: "GET", cache: "no-store" })
            if (!response.ok) {
                throw new Error("Robot page not reachable")
            }
            console.log("Robot is online, page is available.")
        } catch (err) {
            console.log("Robot not available yet. Retrying...")

            // Retry after a delay
            setTimeout(() => {
                location.reload()
            }, 3000)
        }
    }
    window.addEventListener("load", () => {
        checkRobotPageAndReload()
    })
</script>

<body style="background-color: black; margin: 0; border: 0px solid red;">
    <img id="video-stream" src="http://headless4.local:8080/stream.mjpg" width="800" height="480" />
    <div style="display: flex; justify-content: space-around; color: white; margin-top: 5px;">
        <div id="battery-status" style="color: white;"></div>
        <div id="battery-status-mc" style="color: white;"></div>
    </div>
</body>